{% extends 'layout.html.twig' %}

{% block title %}MusicQuiz
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
<main>
<section class="my-5">
<div class="container testingColor">
<h1 class="text-center">MusicQuiz</h1>
</div>

</section>

</main>
    <h2>{{  artist.name }}</h2>
    {% for picture in pictures %}
        <img class="fit-picture"src="{{ picture.url }}"alt="{{  artist.name }}">
    {% endfor %}
{% endblock %}
