{% extends 'layout.html.twig' %}

{% block title %}MusicQuiz
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash alert mt-5 w-100 position-fixed alert-{{ label }} alert-dismissible text-center">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

    {% endfor %}
    <main>

        <header>
            <h1 class="my-5">Music Quiz</h1>
        </header>


        <section class="container">


            {% for track in tracks %}
                <form action="" method="post">
                    <div class="bg-light d-flex justify-content-center align-items-center flex-column p-2 m-3 rounded">
                        <h3 class="fw-bold">La musique
                                                        "{{ track["title"] }}"
                                                        appartient à quel chanteur(euse)?</h3>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                {{ artist.name }}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                {{ artistById2.name }}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                {{ artistById3.name }}
                            </label>
                        </div>
                    </div>
                </form>
            {% endfor %}
            <input type="submit" value="Submit">
        </section>
    </main>
{% endblock %}
